/*       _  __  ___    __              _ __ 
 )\/) /_) ) ) )_     )_) \_)    )   /_) / 
(  ( / / /_/ (__    /__)  /    (__ / / /_ 

I am @LazaroGamio. I make stuff for @MiamiHerald.
*/

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 302px !important;
	height: 180px !important;
	text-align: center;
}

#slider {
	width: 100px;
	height: 87px;
	margin: 0 20px 10px 20px;
	position: relative;
	float: left;
	top:9px;
}

#slider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 87px;
}

#text h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-family: 'Raleway', Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
}

#text h1 {
	display: inline-block;
	font-size: 20px;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #a00 ;
	font-family: 'Roboto Slab', Georgia, Times, Serif;
	line-height: 1em;
	text-transform: uppercase;
}

#text h1 a {
	color: #333;
	text-decoration: none;
}

#text p {
	font-size: 13px;
	padding: 0px 10px;
	margin: 0 0 10px 0;
	font-family: 'Roboto Slab', Georgia, Times, Serif;
	line-height: 1.3em;
	text-align: left;
}

.refer {
	color: #333;
}

.refer:hover {
	color: #000;
}