

@media only screen and (max-width : 700px) {
	#story-holder {
		padding-right: 10%;
		padding-left: 10%;
	}
	
	#story-holder p {
		font-size: 1em;
		padding: 0 !important;
	}
	
	.asideRight, .aside-vertical-photo {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: auto !important;
		float: none;
	}
}