/*CUSTOM*/

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

.test-box {
	color: #666;
}

body {
	padding: 0 20px 0 450px;
	max-width: 600px;
	margin: 0 0 !important;
}

header {
	padding-bottom: 20px;
}

#top {
	padding: 20px 0;
	border-top: 10px solid #000;
}

section {
	padding: 20px 0;
	border-top: 1px solid #333;
}

article {
	padding: 20px 0;
	border-top: 5px solid #000;
}

#testText {
	clear: both;
	width: 300px;
	margin-top: 20px;
	height: 20px;
	padding: 5px;
}

#tester {
	border: 1px dashed #000;
	text-align: center;
	height: 300px;
	margin: 30px 0; 
}

#css {
	font-family: Monospace;
	margin: 30px 0;
	padding: 20px;
	border-top: none;
	background: #f8f5f2;
}

#applied {
	font-family: monospace;
}

#tester > h2 {
	position: relative;
}

ul {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

lh {
	font-weight: 700;
}

li {
	padding: 8px 8px;
	background: #ddd;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', Helvetica, Arial, Sans-Serif;
	font-weight: 900;
	color: #666;
	cursor: pointer;
}

li:hover {
	background: #eee;
}

.selected {
	background: #a00;
	color: #fff;
}

.selected:hover {
	background: #a00;
	color: #fff;
}

.code {
	font-family: Monospace, Sans-Serif;
	padding: 20px;
	background: #f8f5f2;
}

pre.code {
	margin-bottom: 20px;
	overflow-x: scroll;
}

pre.code:before {
	content: 'Example';
	font-family: 'Raleway', Helvetica, Arial, Sans-Serif;
	color: #D5C4B3;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
}

.boolean {
	font-family: Monospace, Sans-Serif;
	color: blue;
}

.Ctext {
	font-family: Monospace, Sans-Serif;
	color: green;
}

.comment {
	color: #666;
	font-style: italic;
	text-transform: uppercase;
}

hr {
	border: 0;
	border-bottom: 1px dotted #ccc;
	background: #999;
	width: 100%;
}

dt,dd {
	margin-bottom: 10px;
}

#side-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background: #eee;
	direction: rtl;
	overflow-y: scroll;
}

#side-nav .wrapper {
	direction: ltr;
	padding: 20px;
}

.side-list {
	margin-bottom: 20px;
}

.side-list li {
	background: none;
	padding: 0;
}

.side-list li a{
	color: #444;
	font-family: 'Roboto Slab', Georgia, Times, Serif;
	font-size: 13px;
}

.side-list li a:hover{
	color: #000;
}