<div class="footer-list ral upper fat xsmall">
  <a href="http://miamiherald.com" target="_blank" class="logo logoB-tiny"></a>
  <% _.each(links, function(d) { %>
    <a href="<%= d.url %>" target="_blank"><%= d.name %></a>
  <% }) %>
</div>
