<aside class="<%= blockType %> block-item comment-item">
  <h3 class="ral fat upper red"><%= hed %></h3>
  <p><%= readout %>
    <% if(url) { %>
     <a href="<%= url %>"><%= gotext %></a> 
    <% } %>
  </p>
</aside>
