/* Yahoo Style for checkbox label */
.radio_label {
font-family: Verdana, Sans-Serif;
font-size: 9px;
font-weight: bold;
color: #000000;
text-decoration: none;
}
/* Yahoo Style for checkbox label and "powered by" */
.search_label {
font-family: Verdana, Sans-Serif;
font-size: 9px;
font-weight: normal;
color: #000000;
text-decoration: none;
}
/* Yahoo Style for "YAHOO!" text */
.search_label2 {
font-family: Verdana, Sans-Serif;
font-size: 9px;
font-weight: bold;
color: #FF0033;
text-decoration: none;
}
/* Yahoo Style for "SEARCH" text */
.search_label3 {
font-family: Verdana, Sans-Serif;
font-size: 9px;
font-weight: bold;
color: #545454;
text-decoration: none;
}
