<figure class="<%= blockType %> block-item photo-item">
  <img src="<%= url %>" alt="<%= cutline %>"/>
  <small class="photo-credit xsmall upper ral align-right block"><%= credit %></small>
  <figcaption><%= cutline %></figcaption>
  <div class="clearfix"></div>
</figure>
