<figure class="<%= blockType %> block-item video-item">
  <iframe class="yt-embed" id="<%= videoID %>" src="http://www.youtube.com/embed/<%= videoID %>?modestbranding&showinfo=0" frameborder="0" allowfullscreen></iframe>
  <figcaption><span class="vid-spr ral fat upper"><%= videoTitle %></span><%= videoCaption %></figcaption>
</figure>
